@model CCCP.Business.Model.CrisisModel

@using CCCP.Business
@using CCCP.ViewModel
@using CCCP.Common
@{
    ViewBag.Title = Resources.global.Menu_CrisisManagement;
}

@section Scripts {
    <script>
	    $(function() {
		    $('#accordion').on('show.bs.collapse', function () {
			    $('#HistoryIcon').removeClass("fa-angle-left");
			    $('#HistoryIcon').addClass("fa-angle-down");
		    });
		    $('#accordion').on('hide.bs.collapse', function () {
			    $('#HistoryIcon').removeClass("fa-angle-down");
			    $('#HistoryIcon').addClass("fa-angle-left");
		    });

		    $('#Checklists input[type="checkbox"]').each(function () {
			    value = $(this).val();
			    $(this).checkbox().chbxChecked(value == '2' ? true : (value == '0' ? false : null));
		    });

            // read mode, disabled change state functionality for the tri-state checkbox
		    $('.bootstrap-checkbox').off('click');

		    $('input[type=checkbox]').click(function(event) {
		        event.preventDefault();
		    });

	        $('#btnCloseCrisis').on('click', function (event) {
	            bootbox.confirm('@Resources.global.Label_CloseIncident', function (result) {
	                if (result) {
	                    window.location = '@Url.Action("CloseIncident", "Crisis")';
	                    return true;
	                }
	            });
	        });
	    });
    </script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @{ Html.RenderAction("AlertSuccess", "Home", new { message = ViewBag.Message }); }

    <h1>
        <i class="fa fa-gears"></i> <a href="@Url.Action("Index", "CrisisManagement")">@Resources.global.Menu_CrisisManagement</a>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 pull-left">
                    <span class="pull-left"><label>@Html.DisplayNameFor(model => model.Entity.CrisisNo)</label></span>
                    <span class="pull-right">@Html.DisplayFor(model => model.Entity.CrisisNo)</span>
                </div>
                <div class="col-lg-3 pull-right">
                    <span class="pull-left"><label>@Html.DisplayNameFor(model => model.Entity.CreatedDateTime)</label></span>
                    <span class="pull-right">@Html.DisplayFor(model => model.Entity.CreatedDateTime)</span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 pull-left">
                    <span class="pull-left"><label>@Html.DisplayNameFor(model => model.Entity.Status)</label></span>
                    <span class="pull-right">@Html.DisplayFor(model => model.Entity.Status)</span>
                </div>
                <div class="col-lg-3 pull-right">
                    <span class="pull-left"><label>@Html.DisplayNameFor(model => model.Entity.LastUpdatedDateTime)</label></span>
                    <span class="pull-right">@Html.DisplayFor(model => model.Entity.LastUpdatedDateTime)</span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 pull-left">
                    <span class="pull-left"><label>Incident No</label></span>
                    <span class="pull-right"><a href="@Url.Action("Details", "Incident" + Model.IncidentType.ToEnumString(), new { id = Model.IncidentId })">@Model.IncidentNo</a></span>
                </div>
            </div>
        </div>
    </div>
</section><!-- /.content -->