
@using CCCP.Common
@using CCCP.ViewModel
@using CCCP.Business
@{
    ViewBag.Title = @Resources.global.Menu_Dashboard;
}

<section class="content-header">
    <h1>
        <i class="fa fa-dashboard"></i> @Resources.global.Menu_Dashboard
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-6">
            <!-- info box -->
            <div class="info-box bg-green">
                <span class="info-box-icon">
                    <i class="glyphicon glyphicon-align-left"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">General Enquiries</span>
                    <span class="info-box-number">@ViewBag.GeneralEnquiryProgress</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: @ViewBag.GeneralEnquiryProgressPercentage%"></div>
                    </div>
                    <span class="progress-description">
                        @ViewBag.GeneralEnquiryProgressPercentage% Finished
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- info box -->
            <div class="info-box bg-orange">
                <span class="info-box-icon">
                    <i class="glyphicon glyphicon-align-left"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Incidents</span>
                    <span class="info-box-number">@ViewBag.IncidentProgress</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: @ViewBag.IncidentProgressPercentage%"></div>
                    </div>
                    <span class="progress-description">
                        @ViewBag.IncidentProgressPercentage% Finished
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="box box-success box-solid" id="DivOutstandingGeneralEnquiry" style="height:500px">
                <div class="box-header with-border">
                    <h3 class="box-title">Outstanding General Enquiries</h3>
                    <!-- /.box-tools -->
                    <span class="pull-right">Total: @ViewBag.OutstandingGeneralEnquiryCount</span>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <table class="OutstandingGeneralEnquiry table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <th>Enquiry No.</th>
                        <th>Enquiry Type</th>
                        <th>Date</th>
                        <th></th>
                        </thead>
                        <tbody>
                            @{
                                foreach (usp_Dashboard_GetOutstandingGeneralEnquiry_Result item in ViewBag.OutStandingGeneralEnquiryList)
                                {
                                    <tr>
                                        <td>@item.IncidentNo</td>
                                        <td>@item.IncidentType</td>
                                        <td>@(item.IssueDateTime != null ? item.IssueDateTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : "")</td>
                                        <td><a href="@Url.Action("Details", "GeneralEnquiry", new { id = item.GeneralEnquiryId })"><i class="fa fa-sliders"></i></a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box box-warning box-solid" id="DivOutstandingIncident" style="height:500px">
                <div class="box-header with-border">
                    <h3 class="box-title">Outstanding Incidents</h3>
                    <!-- /.box-tools -->
                    <span class="pull-right">Total: @ViewBag.OutstandingIncidentCount</span>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <ul class="nav nav-pills">
                        <li class="active"><a href="#Level1" data-toggle="tab">Level 1</a></li>
                        <li><a href="#Level2" data-toggle="tab">Level 2</a></li>
                        <li><a href="#Level3" data-toggle="tab">Level 3</a></li>
                        <li><a href="#Crisis" data-toggle="tab">Crisis</a></li>
                    </ul>

                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade active in" id="Level1">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <table class="OutstandingCase table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                        <th width="80px">Incident No.</th>
                                        <th width="200px">Incident Type</th>
                                        <th width="100px">Date</th>
                                        <th width="200px">Incident Background</th>
                                        <th></th>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (usp_Dashboard_GetOutstandingIncident1_Result item in ViewBag.OutstandingIncidentLevel1List)
                                                {
                                                    <tr>
                                                        <td>@item.IncidentNo</td>
                                                        <td>@item.IncidentType</td>
                                                        <td>@(item.IssueDateTime != null ? item.IssueDateTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : "")</td>
                                                        <td class="hide_overflow">@item.IncidentBackground</td>
                                                        <td><a href="@Url.Action("Details", item.Controller, new { id = item.IncidentId })"><i class="fa fa-sliders"></i></a></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="Level2">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <table class="OutstandingCase table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                        <th width="80px">Incident No.</th>
                                        <th width="200px">Incident Type</th>
                                        <th width="100px">Date</th>
                                        <th width="200px">Incident Background</th>
                                        <th></th>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (usp_Dashboard_GetOutstandingIncident1_Result item in ViewBag.OutstandingIncidentLevel2List)
                                                {
                                                    <tr>
                                                        <td>@item.IncidentNo</td>
                                                        <td>@item.IncidentType</td>
                                                        <td>@(item.IssueDateTime != null ? item.IssueDateTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : "")</td>
                                                        <td class="hide_overflow">@item.IncidentBackground</td>
                                                        <td><a href="@Url.Action("Details", item.Controller, new { id = item.IncidentId })"><i class="fa fa-sliders"></i></a></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="Level3">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <table class="OutstandingCase table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                        <th width="80px">Incident No.</th>
                                        <th width="200px">Incident Type</th>
                                        <th width="100px">Date</th>
                                        <th width="200px">Incident Background</th>
                                        <th></th>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (usp_Dashboard_GetOutstandingIncident1_Result item in ViewBag.OutstandingIncidentLevel3List)
                                                {
                                                    <tr>
                                                        <td>@item.IncidentNo</td>
                                                        <td>@item.IncidentType</td>
                                                        <td>@(item.IssueDateTime != null ? item.IssueDateTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : "")</td>
                                                        <td class="hide_overflow">@item.IncidentBackground</td>
                                                        <td><a href="@Url.Action("Details", item.Controller, new { id = item.IncidentId })"><i class="fa fa-sliders"></i></a></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="Crisis">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <table class="OutstandingCase table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                        <th width="80px">Crisis No.</th>
                                        <th width="200px">Incident Type</th>
                                        <th width="100px">Date</th>
                                        <th></th>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (usp_Dashboard_GetOutstandingCrisis_Result item in ViewBag.OutstandingCrisisList)
                                                {
                                                    <tr>
                                                        <td>@item.CrisisNo</td>
                                                        <td>@item.IncidentType</td>
                                                        <td>@(item.IssueDateTime != null ? item.IssueDateTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : "")</td>
                                                        <td><a href="@Url.Action("Details", "CrisisManagement", new { id = item.CrisisId })"><i class="fa fa-sliders"></i></a></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            
            <div class="box box-primary box-solid" style="height:350px">
                <div class="box-header with-border">
                    <h3 class="box-title">Incident Summary</h3>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    @{
                        
                    }

                    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <th></th>
                            <th>Leakage</th>
                            <th>Air Emission</th>
                            <th>Generation</th>
                            <th>OHS</th>
                            <th>Corporate Image</th>
                            <th>Network</th>
                            <th>System - Invoicing</th>
                            <th>System - Billing</th>
                            <th>System - Call Centre</th>
                            <th>System - Network Connectivity</th>
                            <th>System - IT System</th>
                            <th>System - OT System</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>General Enquiry</td>
                                @{
                                    foreach (var item in Enum.GetValues(typeof(IncidentTypeSubType)))
                                    {
                                <td><a href="@Url.Action("Index", "GeneralEnquiry", new { searchCriteria = "" })">
                                    @(ViewBag.IncidentSummary.ContainsKey("GeneralEnquiry_" + item.ToString()) && ViewBag.IncidentSummary["GeneralEnquiry_" + item.ToString()] != 0 ? ViewBag.IncidentSummary["GeneralEnquiry_" + item.ToString()] : "")
                                </a></td>        
                                    }
                                }
                            </tr>
                            <tr>
                                <td>Level 1</td>
                                @{
                                    foreach (var item in Enum.GetValues(typeof(IncidentTypeSubType)))
                                    {
                                <td><a href="@Url.Action("Index", "Incident" + item.ToString(), new { searchCriteria = "Level 1" })">
                                    @(ViewBag.IncidentSummary.ContainsKey("IncidentLevel1_" + item.ToString()) && ViewBag.IncidentSummary["IncidentLevel1_" + item.ToString()] != 0 ? ViewBag.IncidentSummary["IncidentLevel1_" + item.ToString()] : "")
                                </a></td>
                                    }
                                }
                            </tr>
                            <tr>
                                <td>Level 2</td>
                                @{
                                    foreach (var item in Enum.GetValues(typeof(IncidentTypeSubType)))
                                    {
                                <td>
                                    <a href="@Url.Action("Index", "Incident" + item.ToString(), new { searchCriteria = "Level 2" })">
                                        @(ViewBag.IncidentSummary.ContainsKey("IncidentLevel2_" + item.ToString()) && ViewBag.IncidentSummary["IncidentLevel2_" + item.ToString()] != 0 ? ViewBag.IncidentSummary["IncidentLevel2_" + item.ToString()] : "")
                                    </a>
                                </td>
                                    }
                                }
                            </tr>
                            <tr>
                                <td>Level 3</td>
                                @{
                                    foreach (var item in Enum.GetValues(typeof(IncidentTypeSubType)))
                                    {
                                <td>
                                    <a href="@Url.Action("Index", "Incident" + item.ToString(), new { searchCriteria = "Level 3" })">
                                        @(ViewBag.IncidentSummary.ContainsKey("IncidentLevel3_" + item.ToString()) && ViewBag.IncidentSummary["IncidentLevel3_" + item.ToString()] != 0 ? ViewBag.IncidentSummary["IncidentLevel3_" + item.ToString()] : "")
                                    </a>
                                </td>
                                    }
                                }
                            </tr>
                            <tr>
                                <td>Crisis</td>
                                @{
                                    foreach (var item in Enum.GetValues(typeof(IncidentTypeSubType)))
                                    {
                                <td>
                                    <a href="@Url.Action("Index", "CrisisManagement", new { searchCriteria = "" })">
                                        @(ViewBag.IncidentSummary.ContainsKey("Crisis_" + item.ToString()) && ViewBag.IncidentSummary["Crisis_" + item.ToString()] != 0 ? ViewBag.IncidentSummary["Crisis_" + item.ToString()] : "")
                                    </a>
                                </td>
                                    }
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="box box-danger box-solid" style="height:310px">
                <div class="box-header with-border">
                    <h3 class="box-title">Crisis Approval List</h3>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <th>Incident No.</th>
                        <th>Incident Type</th>
                        <th>Date</th>
                        <th>Incident Background</th>
                        <th></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1234567</td>
                                <td>System (Billing)</td>
                                <td>2015-12-28 11:11:11</td>
                                <td>Oh No...</td>
                                <td><i class="fa fa-sliders"></i></td>
                            </tr>
                            <tr>
                                <td>1234567</td>
                                <td>System (Billing)</td>
                                <td>2015-12-28 11:11:11</td>
                                <td>Oh No...</td>
                                <td><i class="fa fa-sliders"></i></td>
                            </tr>
                            <tr>
                                <td>1234567</td>
                                <td>System (Billing)</td>
                                <td>2015-12-28 11:11:11</td>
                                <td>Oh No...</td>
                                <td><i class="fa fa-sliders"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#" class="small-box-footer pull-right">
                        More <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.OutstandingCase').DataTable({
                "sDom": '<"top">rt<"bottom"ip><"clear">',
                "iDisplayLength": 4,
                "order": [[2, "desc"]]
            });

            $('.OutstandingGeneralEnquiry').DataTable({
                "sDom": '<"top">rt<"bottom"ip><"clear">',
                "iDisplayLength": 6,
                "order": [[2, "desc"]]
            });
        });
    </script>
}