@model CCCP.Business.Model.ChatRoomModel

@using CCCP.Business.Service
@using CCCP.Business.Model
@using CCCP.Common

<div id="chat" class="direct-chat-messages" style="height: 400px;overflow-y: scroll; border: solid; border-width: 1px">
    @{
        CCCP.Helpers.SessionHelper sessionHelper = new CCCP.Helpers.SessionHelper();
        UserModel user = sessionHelper.CurrentUser;

        foreach (var crMsg in Model.ChatRoomMessagesEntites)
        {
            Boolean isMe = (crMsg.Entity.SenderUserId == user.Entity.UserId);
    <!-- Message. Default to the @(isMe ? "right" : "left") -->
    <div id="@crMsg.Entity.ChatRoomMessageId" class="direct-chat-msg@(isMe ? " right" : "")">
        <div class="direct-chat-info clearfix">
            <span class="direct-chat-name pull-@(isMe ? "right" : "left")"><label>@crMsg.Entity.SenderDisplayName</label></span>
            <span class="direct-chat-timestamp pull-@(crMsg.Entity.SenderUserId == user.Entity.UserId ? "left" : "right")">@crMsg.Entity.SendDateTime.Value.ToString("yyyy-MM-dd HH:mm:ss")</span>
        </div>
        <!-- /.direct-chat-info -->
        <div class="direct-chat-text">
            @Html.Raw(crMsg.Entity.Message.Replace("\n", "<br/>").Replace(System.Environment.NewLine, "<br/>"))
        </div>
        <!-- /.direct-chat-text -->
    </div>
    <!-- /.direct-chat-msg -->
        }
    }
</div>
<div id="SendMessage" class="input-group">
    <span class="input-group-btn">
        <a class='btn btn-primary btn-flat' href='javascript:;'>
            <i class="glyphicon glyphicon-paperclip"></i>
            <input id="attachUI" type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40" multiple>
        </a>
    </span>
    <div>
        <textarea name="message" id="message" placeholder="Type Message ..." class="form-control"></textarea><br />
    </div>
    <span class="input-group-btn">
        <button type="button" id="sendmessage" title="Send" class="btn btn-primary btn-flat">
            <i class="glyphicon glyphicon-send"></i>
        </button>
    </span>
</div>

<div id="attachment_list">
</div>

<script>

    function translateMsg(inputMsg, outputDiv) {
        $.ajax({
            url: "/Home/TranslateText",
            type: "POST",
            data: JSON.stringify({ 'input': inputMsg }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.result) {
                    $("#" + outputDiv).html(data.translatedText);
                }
            },
            error: function () {
                alert("An error has occured!!!");
            }
        });
    }

    $('#attachUI').on('change', function (e) {
        $('#attachment_list').html("");
        if (!e.target.files) return;

        if (e.target.files.length > 0) {
            $('#attachment_list').append("<label>Attachment List:</label><br/>");
        }
        
        $.each(e.target.files, function (index, file) {
            $('#attachment_list').append("<span class='label label-info'>" + file.name + "</span><br/>");
        });
    });

    function generateChatBubbleHtml(messageId, message, name, time, isMe) {
        var html = '<div id="' + messageId + '" class="direct-chat-msg' + (isMe ? ' right' : '') + '">' +
            '<div class="direct-chat-info clearfix">' +
                '<span class="direct-chat-name pull-' + (isMe ? 'right' : 'left') + '"><label>' + name + '</label></span>' +
                '<span class="direct-chat-timestamp pull-' + (isMe ? 'left' : 'right') + '">' + time + '</span>' +
            '</div>' +
            '<div class="direct-chat-text">' + message.replace(new RegExp('\n', 'g'), '<br/>') + '</div>' +
        '</div>';

        return html
    }

    $(document).ready(function () {
        $("#chat").scrollTop($("#chat")[0].scrollHeight);
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $('#chat').scrollTop($("#chat")[0].scrollHeight);
    });

    $(function () {
        // Declare a proxy to reference the hub.
        var chatHub = $.connection.chatRoomHub;
        // Create a function that the hub can call to broadcast messages.
        chatHub.client.broadcastMessage = function (name, message, time, chatId, messageId) {

            if (chatId != '@Model.Entity.ChatRoomId') return;

            // Html encode display name and message.
            var encodedName = $('<div />').text(name).html();
            var encodedMsg = $('<div />').text(message).html();
            //var id = moment().format("YYYYMMDDHHmmss");
            // Add the message to the page.
            var isMe = (encodedName == '@user.Entity.DisplayName');
            $('#chat').append(generateChatBubbleHtml(messageId, encodedMsg, encodedName, time, isMe));
            $("#chat").scrollTop($("#chat")[0].scrollHeight);
        };

        // Set initial focus to message input box.
        $('#message').focus();

        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#sendmessage').click(function () {
                if ($('#message').val().trim() == '') return false;

                var data = new FormData();
                var files = $("#attachUI").get(0).files;
                $.each(files, function(i, f) {
                    data.append("uploadFile[" + i + "]", f);
                });

                data.append("chatRoomId", '@Model.Entity.ChatRoomId');
                data.append("senderUserId", '@user.Entity.UserId');
                data.append("senderDisplayName", '@user.Entity.DisplayName');
                data.append("sendDateTime", moment().format('YYYY-MM-DD HH:mm:ss'));
                data.append("message", $('#message').val());

                // upload file to temp and send message to Hub...
                $.ajax({
                    url: "/ChatRoom/SaveChatRoomMessageAttachment",
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        if (data.result) {

                            // Call the Send method on the hub.
                            chatHub.server.send('@user.Entity.DisplayName', $('#message').val(), moment().format('YYYY-MM-DD HH:mm:ss'), '@user.Entity.UserId', '@Model.Entity.ChatRoomId', data.id, files);
    
                            // Clear text box and reset focus for next comment.
                            $('#attachUI').val('');
                            $('#message').val('').focus();
                        }
                    },
                    error: function () {
                        alert("An error has occured!!!");
                    }
                });
            });

            $('#message').keydown(function (event) {
                if (event.which == 13 && !event.shiftKey) {
                    event.preventDefault();
                    $('#sendmessage').click();
                }
            });
        });
    });

</script>