@model CCCP.Business.Model.CrisisModel

@using CCCP.Business.Service
@using CCCP.Business.Model
@using CCCP.ViewModel
@using CCCP.Common
@{
    ViewBag.Title = Resources.global.Menu_CrisisManagement;
}

@section Scripts {
    <script>
	    $(function() {
		    $('#accordion').on('show.bs.collapse', function () {
			    $('#HistoryIcon').removeClass("fa-angle-left");
			    $('#HistoryIcon').addClass("fa-angle-down");
		    });
		    $('#accordion').on('hide.bs.collapse', function () {
			    $('#HistoryIcon').removeClass("fa-angle-down");
			    $('#HistoryIcon').addClass("fa-angle-left");
		    });

	        $('#btnApprove').on('click', function (event) {
	            bootbox.confirm('@Resources.global.Label_ApproveCrisis', function (result) {
	                if (result) {
	                    window.location = '@Url.Action("Approve", "CrisisApproval", new { id = Model.Entity.CrisisId })';
	                    return true;
	                }
	            });
	        });

	        $('#btnReject').on('click', function (event) {
	            bootbox.confirm('@Resources.global.Label_RejectReason <br/><textarea id="RejectReason" class="form-control text-box multi-line" style="height:150px"></textarea>', function (result) {
	                if (result) {
	                    window.location = '@Url.Action("Reject", "CrisisApproval", new { id = Model.Entity.CrisisId, rejectReason = "___rejectReason___" })'.replace('___rejectReason___', encodeURIComponent($('#RejectReason').val()));
	                    return true;
	                }
	            });
	        });
	    });
    </script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @{ Html.RenderAction("AlertSuccess", "Home", new { message = ViewBag.Message }); }

    <h1>
        <i class="fa fa-check"></i> <a href="@Url.Action("Index", "CrisisApproval")">@Resources.global.Menu_CrisisManagement</a>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3 pull-left">
                        <span class="pull-left"><label>Incident No</label></span>
                        <span class="pull-right">@Html.DisplayFor(model => model.IncidentNo)</span>
                    </div>
                    <div class="col-lg-3 pull-right">
                        <span class="pull-left"><label>@Html.DisplayNameFor(model => model.Entity.CreatedDateTime)</label></span>
                        <span class="pull-right">@Html.DisplayFor(model => model.Entity.CreatedDateTime)</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 pull-right">
                        <span class="pull-left"><label>@Html.DisplayNameFor(model => model.Entity.LastUpdatedDateTime)</label></span>
                        <span class="pull-right">@Html.DisplayFor(model => model.Entity.LastUpdatedDateTime)</span>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- content -->
            @Html.Raw(ViewBag.PartialView)

            <div class="form-group">
                <button class="btn btn-primary" type="button" id="btnApprove">@Resources.global.Func_Approve</button>
                <button class="btn btn-primary" type="button" id="btnReject">@Resources.global.Func_Reject</button>
            </div>
            <br/>
        </div>
    </div>
</section><!-- /.content -->