@model CCCP.Business.Model.IncidentQualityNetworkModel
@using CCCP.Business.Service
@using CCCP.Common
@{
    ViewBag.Title = Resources.global.Menu_IncidentQualityNetwork;
    CCCP.ViewModel.IncidentQualityNetwork incidentQualityNetwork = Model.Entity;
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
	    $(function() {
		    $('#accordion').on('show.bs.collapse', function () {
			    $('#HistoryIcon').removeClass("fa-angle-left");
			    $('#HistoryIcon').addClass("fa-angle-down");
		    });
		    $('#accordion').on('hide.bs.collapse', function () {
			    $('#HistoryIcon').removeClass("fa-angle-down");
			    $('#HistoryIcon').addClass("fa-angle-left");
		    });

		    $('#LinkedIncidentTable').DataTable();
		    $('#LinkedGeneralEnquiryTable').DataTable();

		    $('#Checklists input[type="checkbox"]').each(function () {
			    value = $(this).val();
			    $(this).checkbox().chbxChecked(value == '2' ? true : (value == '0' ? false : null));
		    });

		    $('.bootstrap-checkbox').on('click', function(evnet){

		        $.ajax({
		            url: "@Url.Action("ToggleActionStatus", "IncidentQualityNetwork")",
		            type: "POST",
		            data: JSON.stringify({ 'checklist': $(this).data('checklist'), 'checklistAction': $(this).data('checklistaction') }),
		            dataType: "html",
		            contentType: "application/json; charset=utf-8",
		            success: function (data) {
		                return true;
		            },
		            error: function () {
		                alert("An error has occured!!!");
		            }
		        });
		    });
	    });

	    $("#incidentQualityNetwork_IsDrillMode").on("click", function () {
	        $(this).val(this.checked);
	    });

	    $("#incidentQualityNetwork_MVOutage").on("click", function () {
	        $(this).val(this.checked);
	    });

	    $("#incidentQualityNetwork_IsDoubleFault").on("click", function () {
	        $(this).val(this.checked);
	    });

	    $("#incidentQualityNetwork_LVOutage").on("click", function () {
	        $(this).val(this.checked);
	    });

	    $("#incidentQualityNetwork_IsPQEventAffectLargeCustomer").on("click", function () {
	        $(this).val(this.checked);
	    });

	    $("#incidentQualityNetwork_IsCriticalPoint").on("click", function () {
	        $(this).val(this.checked);
	    });

	    $("#FullRestorationDate").change(function () {
	        if ($("#FullRestorationDate").val() != '' && $("#FullRestorationTime").val() != '') {
	            $("#incidentQualityNetwork_FullRestoration").val($("#FullRestorationDate").val() + " " + $("#FullRestorationTime").val());
	        }
	    });

	    $("#FullRestorationTime").change(function () {
	        if ($("#FullRestorationDate").val() != '' && $("#FullRestorationTime").val() != '') {
	            $("#incidentQualityNetwork_FullRestoration").val($("#FullRestorationDate").val() + " " + $("#FullRestorationTime").val());
	        }
	    });

	    $("#OutageStartTimeDate").change(function () {
	        $("#incidentQualityNetwork_OutageStartTime").val($("#OutageStartTimeDate").val() + " " + $("#OutageStartTimeTime").val());
	    });

	    $("#OutageStartTimeTime").change(function () {
	        $("#incidentQualityNetwork_OutageStartTime").val($("#OutageStartTimeDate").val() + " " + $("#OutageStartTimeTime").val());
	    });

	    $(document).ready(function () {

	        $('#FullRestorationDate').datepicker({ dateFormat: 'yy-mm-dd' }).datepicker('setDate', '@(incidentQualityNetwork.FullRestoration == null ? "" : incidentQualityNetwork.FullRestoration.Value.ToString("yyyy-MM-dd"))');
	        $('#OutageStartTimeDate').datepicker({ dateFormat: 'yy-mm-dd' }).datepicker('setDate', '@(incidentQualityNetwork.OutageStartTime == null ? "" : incidentQualityNetwork.OutageStartTime.Value.ToString("yyyy-MM-dd"))');
	        $('[data-mask]').inputmask();
	        $('#FullRestorationTime').timepicker({
	            showMeridian: false,
	            defaultTime: '@(incidentQualityNetwork.FullRestoration == null ? "" : incidentQualityNetwork.FullRestoration.Value.ToString("HH:mm"))',
	            hour: '@(incidentQualityNetwork.FullRestoration == null ? "" : incidentQualityNetwork.FullRestoration.Value.ToString("HH"))',
	            minute: '@(incidentQualityNetwork.FullRestoration == null ? "" : incidentQualityNetwork.FullRestoration.Value.ToString("mm"))',
	        });

	        $('#OutageStartTimeTime').timepicker({
	            showMeridian: false,
	            defaultTime: '@(incidentQualityNetwork.OutageStartTime == null ? "" : incidentQualityNetwork.OutageStartTime.Value.ToString("HH:mm"))',
	            hour: '@(incidentQualityNetwork.OutageStartTime == null ? "" : incidentQualityNetwork.OutageStartTime.Value.ToString("HH"))',
	            minute: '@(incidentQualityNetwork.OutageStartTime == null ? "" : incidentQualityNetwork.OutageStartTime.Value.ToString("mm"))',
	        });
	    });

	    $('#btnCreate').on('click', function (event) {
	        var inputValid = true;
	        var errMsg = '';

	        if ($('#incidentQualityNetwork_IncidentBackground').val() == '') {
	            inputValid = false;
	            errMsg = errMsg + 'Incident Background cannot be empty<br />';
	        }

	        if ($('#incidentQualityNetwork_AffectedArea').val() == '') {
	            inputValid = false;
	            errMsg = errMsg + '\r\nAffected Area cannot be empty<br />';
	        }

	        if ($("#OutageStartTimeDate").val() == '' || $("#OutageStartTimeTime").val() == '') {
	            inputValid = false;
	            errMsg = errMsg + '\r\nOutage Start Time cannot be empty<br />';
	        }

	        //if ($("#FullRestorationDate").val() == '' || $("#FullRestorationTime").val() == '') {
	        //    inputValid = false;
	        //    errMsg = errMsg + '\r\Full Restoration cannot be empty<br />';
	        //}

	        if ($('#incidentQualityNetwork_NoOfBuilding').val() == '') {
	            inputValid = false;
	            errMsg = errMsg + '\r\nNo of Building cannot be empty<br />';
	        }

	        if ($('#incidentQualityNetwork_NoOfCustomerAffected').val() == '') {
	            inputValid = false;
	            errMsg = errMsg + '\r\nNo of Customer Affected cannot be empty<br />';
	        }

	        if ($('#incidentQualityNetwork_NoOfPlatinumCustomer').val() == '') {
	            inputValid = false;
	            errMsg = errMsg + '\r\nNo of Platinum Customer cannot be empty<br />';
	        }

	        if ($('#incidentQualityNetwork_NoOfDiamondCustomer').val() == '') {
	            inputValid = false;
	            errMsg = errMsg + '\r\nNo of Diamond Customer cannot be empty<br />';
	        }

	        if ($('#incidentQualityNetwork_NoOfGoldCustomer').val() == '') {
	            inputValid = false;
	            errMsg = errMsg + '\r\nNo of Gold Customer cannot be empty<br />';
	        }

	        if ($('#incidentQualityNetwork_NoOfSilverCustomer').val() == '') {
	            inputValid = false;
	            errMsg = errMsg + '\r\nNo of Silver Customer cannot be empty<br />';
	        }

	        if ($('#incidentQualityNetwork_PossibleCause').val() == '') {
	            inputValid = false;
	            errMsg = errMsg + '\r\nPossible Cause cannot be empty<br />';
	        }

	        if ($('#incidentQualityNetwork_ExpectedRestorationTime').val() == '') {
	            inputValid = false;
	            errMsg = errMsg + '\r\nExpected Restoration Time cannot be empty<br />';
	        }

	        if ($('#incidentQualityNetwork_RestorationMethod').val() == '') {
	            inputValid = false;
	            errMsg = errMsg + '\r\nRestoration Method cannot be empty<br />';
	        }

	        if (inputValid == false) {
	            $('#CCCPModal').find('.modal-body').html(errMsg);
	            $('#CCCPModal').find('.modal-title').html('Validation Summary');
	            $('#CCCPModal').modal('toggle');

	            event.preventDefault();
	        }

	        return inputValid;
	    });
    </script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <i class="fa fa-clipboard"></i> <a href="@Url.Action("Index", "IncidentQualityNetwork")">@Resources.global.Menu_IncidentManagement - @Resources.global.Func_Edit @Resources.global.Menu_IncidentQualityNetwork</a>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 pull-left">
                    <span class="pull-left">@Html.DisplayNameFor(model => incidentQualityNetwork.IncidentNo)</span>
                    <span class="pull-right">@Html.DisplayFor(model => incidentQualityNetwork.IncidentNo)</span>
                </div>
                <div class="col-lg-3 pull-right">
                    <span class="pull-left">@Html.DisplayNameFor(model => incidentQualityNetwork.IncidentStatus)</span>
                    <span class="pull-right">@Html.DisplayFor(model => incidentQualityNetwork.IncidentStatus)</span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 pull-left">
                    <span class="pull-left">@Html.DisplayNameFor(model => incidentQualityNetwork.CrisisId)</span>
                    <a href="#"><span class="pull-right">@Html.DisplayFor(model => incidentQualityNetwork.CrisisId)</span></a>
                </div>
                <div class="col-lg-3 pull-right">
                    <span class="pull-left">@Html.DisplayNameFor(model => incidentQualityNetwork.CreatedDateTime)</span>
                    <span class="pull-right">@Html.DisplayFor(model => incidentQualityNetwork.CreatedDateTime)</span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 pull-right">
                    <span class="pull-left">@Html.DisplayNameFor(model => incidentQualityNetwork.LastUpdatedDateTime)</span>
                    <span class="pull-right">@Html.DisplayFor(model => incidentQualityNetwork.LastUpdatedDateTime)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- content -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => incidentQualityNetwork.IncidentQualityNetworkId)
            <ul class="nav nav-pills">
                <li class="active"><a href="#IncidentDetails" data-toggle="tab">Incident Details</a></li>
                <li><a href="#Checklists" data-toggle="tab">Checklists</a></li>
                <li><a href="#IncidentEnquiry" data-toggle="tab">Chatroom</a></li>
                <li><a href="#LinkedIncident" data-toggle="tab">Linked Incidents</a></li>
                <li><a href="#LinkedGeneralEnquiry" data-toggle="tab">Linked General Enquiry</a></li>
                <li><a href="#Notification" data-toggle="tab">Notification</a></li>
            </ul>

            <div id="myTabContent" class="tab-content">

                <div class="tab-pane fade active in" id="IncidentDetails">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel panel-body">
                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label class="mandatory-field">@Html.DisplayNameFor(model => incidentQualityNetwork.LevelOfSeverity)</label></div>
                                            <div class="col-lg-4">
                                                <select id="incidentQualityNetwork_LevelOfSeverity" name="incidentQualityNetwork.LevelOfSeverity" class="form-control thin-control">
                                                    @foreach (IncidentLevel one in Enum.GetValues(typeof(IncidentLevel)))
                                                    {
                                                        if (one != IncidentLevel.None)
                                                        {
                                                            <option value="@(Convert.ToInt32(one))" @( (Convert.ToInt32(one)).ToString() == incidentQualityNetwork.LevelOfSeverity ? "selected" : "")>@one.ToEnumString()</option>
                                                        }
                                                    }
                                                </select>
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.LevelOfSeverity, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        @*<div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label>@Html.DisplayNameFor(model => incidentQualityNetwork.IncidentStatus)</label></div>
                                            <div class="col-lg-4">
                                                <select id="incidentQualityNetwork_IncidentStatus" name="incidentQualityNetwork.IncidentStatus" class="form-control thin-control">
                                                    <option value=""></option>
                                                    @foreach (IncidentStatus one in Enum.GetValues(typeof(IncidentStatus)))
                                                    {
                                                        <option value="@one.ToEnumString()" @( one.ToEnumString() == incidentQualityNetwork.IncidentStatus ? "selected" : "")>@one.ToEnumString()</option>
                                                    }
                                                </select>
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.IncidentStatus, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label class="mandatory-field">@Html.DisplayNameFor(model => incidentQualityNetwork.IncidentBackground)</label></div>
                                            <div class="col-lg-4">
                                                @Html.EditorFor(model => incidentQualityNetwork.IncidentBackground, new { htmlAttributes = new { @class = "form-control", @style = "height:150px; width:400px" } })
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.IncidentBackground, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        @*<div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label>@Html.DisplayNameFor(model => incidentQualityNetwork.IsDrillMode)</label></div>
                                            <div class="col-lg-4">
                                                <div class="checkbox">
                                                    <input id="incidentQualityNetwork_IsDrillMode" name="incidentQualityNetwork.IsDrillMode" type="checkbox" value="@(incidentQualityNetwork.IsDrillMode != null && incidentQualityNetwork.IsDrillMode.Value ? "true" : "false")" @(incidentQualityNetwork.IsDrillMode != null && incidentQualityNetwork.IsDrillMode.Value ? "checked" : "") style="top:-10px; left: 20px" />
                                                    @Html.ValidationMessageFor(model => incidentQualityNetwork.IsDrillMode, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>

                                <div class="panel panel-primary">
                                    <div class="panel panel-heading"><label>@Resources.global.Label_Details</label></div>
                                    <div class="panel panel-body">

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label class="mandatory-field">@Html.DisplayNameFor(model => incidentQualityNetwork.AffectedArea)</label></div>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => incidentQualityNetwork.AffectedArea, new { htmlAttributes = new { @class = "form-control thin-control" } })
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.AffectedArea, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label class="mandatory-field">@Html.DisplayNameFor(model => incidentQualityNetwork.OutageStartTime)</label></div>
                                            <div class="col-lg-6">
                                                <div class="col-lg-6">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text" class="form-control" id="OutageStartTimeDate" data-inputmask="'alias': 'yyyy-mm-dd'" data-mask></input>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="input-group bootstrap-timepicker">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-clock-o"></i>
                                                        </div>
                                                        <input type="text" class="form-control timepicker" id="OutageStartTimeTime" data-inputmask="'alias': 'HH:mm'" data-mask></input>
                                                    </div>
                                                </div>
                                                @Html.HiddenFor(model => incidentQualityNetwork.OutageStartTime, new { @Value = incidentQualityNetwork.OutageStartTime })
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.OutageStartTime, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label class="mandatory-field">@Html.DisplayNameFor(model => incidentQualityNetwork.FullRestoration)</label></div>
                                            <div class="col-lg-6">
                                                <div class="col-lg-6">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text" class="form-control" id="FullRestorationDate" data-inputmask="'alias': 'yyyy-mm-dd'" data-mask></input>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="input-group bootstrap-timepicker">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-clock-o"></i>
                                                        </div>
                                                        <input type="text" class="form-control timepicker" id="FullRestorationTime" data-inputmask="'alias': 'HH:mm'" data-mask></input>
                                                    </div>
                                                </div>
                                                @Html.HiddenFor(model => incidentQualityNetwork.FullRestoration, new { @Value = incidentQualityNetwork.FullRestoration })
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.FullRestoration, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label class="mandatory-field">@Html.DisplayNameFor(model => incidentQualityNetwork.NoOfBuilding)</label></div>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => incidentQualityNetwork.NoOfBuilding, new { htmlAttributes = new { @class = "form-control thin-control" } })
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.NoOfBuilding, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label class="mandatory-field">@Html.DisplayNameFor(model => incidentQualityNetwork.NoOfCustomerAffected)</label></div>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => incidentQualityNetwork.NoOfCustomerAffected, new { htmlAttributes = new { @class = "form-control thin-control" } })
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.NoOfCustomerAffected, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label class="mandatory-field">@Html.DisplayNameFor(model => incidentQualityNetwork.NoOfPlatinumCustomer)</label></div>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => incidentQualityNetwork.NoOfPlatinumCustomer, new { htmlAttributes = new { @class = "form-control thin-control" } })
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.NoOfPlatinumCustomer, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label class="mandatory-field">@Html.DisplayNameFor(model => incidentQualityNetwork.NoOfDiamondCustomer)</label></div>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => incidentQualityNetwork.NoOfDiamondCustomer, new { htmlAttributes = new { @class = "form-control thin-control" } })
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.NoOfDiamondCustomer, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label class="mandatory-field">@Html.DisplayNameFor(model => incidentQualityNetwork.NoOfGoldCustomer)</label></div>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => incidentQualityNetwork.NoOfGoldCustomer, new { htmlAttributes = new { @class = "form-control thin-control" } })
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.NoOfGoldCustomer, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label class="mandatory-field">@Html.DisplayNameFor(model => incidentQualityNetwork.NoOfSilverCustomer)</label></div>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => incidentQualityNetwork.NoOfSilverCustomer, new { htmlAttributes = new { @class = "form-control thin-control" } })
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.NoOfSilverCustomer, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label class="mandatory-field">@Html.DisplayNameFor(model => incidentQualityNetwork.PossibleCause)</label></div>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => incidentQualityNetwork.PossibleCause, new { htmlAttributes = new { @class = "form-control thin-control" } })
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.PossibleCause, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label class="mandatory-field">@Html.DisplayNameFor(model => incidentQualityNetwork.ExpectedRestorationTime)</label></div>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => incidentQualityNetwork.ExpectedRestorationTime, new { htmlAttributes = new { @class = "form-control thin-control" } })
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.ExpectedRestorationTime, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label class="mandatory-field">@Html.DisplayNameFor(model => incidentQualityNetwork.RestorationMethod)</label></div>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => incidentQualityNetwork.RestorationMethod, new { htmlAttributes = new { @class = "form-control thin-control" } })
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.RestorationMethod, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label>@Html.DisplayNameFor(model => incidentQualityNetwork.StatusUpdate)</label></div>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => incidentQualityNetwork.StatusUpdate, new { htmlAttributes = new { @class = "form-control thin-control" } })
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.StatusUpdate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label>@Html.DisplayNameFor(model => incidentQualityNetwork.RootCause)</label></div>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => incidentQualityNetwork.RootCause, new { htmlAttributes = new { @class = "form-control thin-control" } })
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.RootCause, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label>@Html.DisplayNameFor(model => incidentQualityNetwork.LossGeneration)</label></div>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => incidentQualityNetwork.LossGeneration, new { htmlAttributes = new { @class = "form-control thin-control" } })
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.LossGeneration, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label>@Html.DisplayNameFor(model => incidentQualityNetwork.LossInterconnection)</label></div>
                                            <div class="col-lg-6">
                                                <select id="incidentQualityNetwork_LossInterconnection" name="incidentQualityNetwork.LossInterconnection" class="form-control thin-control">
                                                    <option value=""></option>
                                                    @foreach (string one in Model.Options_LossInterconnection)
                                                    {
                                                        <option value="@one" @(incidentQualityNetwork.LossInterconnection != null && incidentQualityNetwork.LossInterconnection.IsEquals(one) ? "selected" : "")>@one</option>
                                                    }
                                                </select>
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.LossInterconnection, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label>@Html.DisplayNameFor(model => incidentQualityNetwork.LossTransmission)</label></div>
                                            <div class="col-lg-6">
                                                <select id="incidentQualityNetwork_LossTransmission" name="incidentQualityNetwork.LossTransmission" class="form-control thin-control">
                                                    <option value=""></option>
                                                    @foreach (string one in Model.Options_LossTransmission)
                                                    {
                                                        <option value="@one" @(incidentQualityNetwork.LossTransmission != null && incidentQualityNetwork.LossTransmission.IsEquals(one) ? "selected" : "")>@one</option>
                                                    }
                                                </select>
                                                @Html.ValidationMessageFor(model => incidentQualityNetwork.LossTransmission, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label>@Html.DisplayNameFor(model => incidentQualityNetwork.MVOutage)</label></div>
                                            <div class="col-lg-4">
                                                <div class="checkbox">
                                                    <input id="incidentQualityNetwork_MVOutage" name="incidentQualityNetwork.MVOutage" type="checkbox" value="@(incidentQualityNetwork.MVOutage != null && incidentQualityNetwork.MVOutage.Value ? "true" : "false")" @(incidentQualityNetwork.MVOutage != null && incidentQualityNetwork.MVOutage.Value ? "checked" : "") style="top:-10px; left: 20px" />
                                                    @Html.ValidationMessageFor(model => incidentQualityNetwork.MVOutage, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label>@Html.DisplayNameFor(model => incidentQualityNetwork.IsDoubleFault)</label></div>
                                            <div class="col-lg-4">
                                                <div class="checkbox">
                                                    <input id="incidentQualityNetwork_IsDoubleFault" name="incidentQualityNetwork.IsDoubleFault" type="checkbox" value="@(incidentQualityNetwork.IsDoubleFault != null && incidentQualityNetwork.IsDoubleFault.Value ? "true" : "false")" @(incidentQualityNetwork.IsDoubleFault != null && incidentQualityNetwork.IsDoubleFault.Value ? "checked" : "") style="top:-10px; left: 20px" />
                                                    @Html.ValidationMessageFor(model => incidentQualityNetwork.IsDoubleFault, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label>@Html.DisplayNameFor(model => incidentQualityNetwork.LVOutage)</label></div>
                                            <div class="col-lg-4">
                                                <div class="checkbox">
                                                    <input id="incidentQualityNetwork_LVOutage" name="incidentQualityNetwork.LVOutage" type="checkbox" value="@(incidentQualityNetwork.LVOutage != null && incidentQualityNetwork.LVOutage.Value ? "true" : "false")" @(incidentQualityNetwork.LVOutage != null && incidentQualityNetwork.LVOutage.Value ? "checked" : "") style="top:-10px; left: 20px" />
                                                    @Html.ValidationMessageFor(model => incidentQualityNetwork.LVOutage, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label>@Html.DisplayNameFor(model => incidentQualityNetwork.IsPQEventAffectLargeCustomer)</label></div>
                                            <div class="col-lg-4">
                                                <div class="checkbox">
                                                    <input id="incidentQualityNetwork_IsPQEventAffectLargeCustomer" name="incidentQualityNetwork.IsPQEventAffectLargeCustomer" type="checkbox" value="@(incidentQualityNetwork.IsPQEventAffectLargeCustomer != null && incidentQualityNetwork.IsPQEventAffectLargeCustomer.Value ? "true" : "false")" @(incidentQualityNetwork.IsPQEventAffectLargeCustomer != null && incidentQualityNetwork.IsPQEventAffectLargeCustomer.Value ? "checked" : "") style="top:-10px; left: 20px" />
                                                    @Html.ValidationMessageFor(model => incidentQualityNetwork.IsPQEventAffectLargeCustomer, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 text-right"><label>@Html.DisplayNameFor(model => incidentQualityNetwork.IsCriticalPoint)</label></div>
                                            <div class="col-lg-4">
                                                <div class="checkbox">
                                                    <input id="incidentQualityNetwork_IsCriticalPoint" name="incidentQualityNetwork.IsCriticalPoint" type="checkbox" value="@(incidentQualityNetwork.IsCriticalPoint != null && incidentQualityNetwork.IsCriticalPoint.Value ? "true" : "false")" @(incidentQualityNetwork.IsCriticalPoint != null && incidentQualityNetwork.IsCriticalPoint.Value ? "checked" : "") style="top:-10px; left: 20px" />
                                                    @Html.ValidationMessageFor(model => incidentQualityNetwork.IsCriticalPoint, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

            @Html.HiddenFor(model => incidentQualityNetwork.IncidentQualityNetworkId, new { @Value = incidentQualityNetwork.IncidentQualityNetworkId })
            @Html.HiddenFor(model => incidentQualityNetwork.ChecklistBatchId, new { @Value = incidentQualityNetwork.ChecklistBatchId })
            @Html.HiddenFor(model => incidentQualityNetwork.ChatRoomId, new { @Value = incidentQualityNetwork.ChatRoomId })
            @Html.HiddenFor(model => incidentQualityNetwork.GeneralEnquiryId, new { @Value = incidentQualityNetwork.GeneralEnquiryId })
            @Html.HiddenFor(model => incidentQualityNetwork.OMSEventId, new { @Value = incidentQualityNetwork.OMSEventId })
            @Html.HiddenFor(model => incidentQualityNetwork.CrisisId, new { @Value = incidentQualityNetwork.CrisisId })
            @Html.HiddenFor(model => incidentQualityNetwork.IssueById, new { @Value = incidentQualityNetwork.IssueById })
            @Html.HiddenFor(model => incidentQualityNetwork.IssueDateTime, new { @Value = incidentQualityNetwork.IssueDateTime == null ? "" : incidentQualityNetwork.IssueDateTime.Value.ToString("yyyy-MM-dd tthh:mm:ss") })
            @Html.HiddenFor(model => incidentQualityNetwork.CloseById, new { @Value = incidentQualityNetwork.CloseById })
            @Html.HiddenFor(model => incidentQualityNetwork.CloseDateTime, new { @Value = incidentQualityNetwork.CloseDateTime == null ? "" : incidentQualityNetwork.CloseDateTime.Value.ToString("yyyy-MM-dd tthh:mm:ss") })
            @Html.HiddenFor(model => incidentQualityNetwork.CreatedBy, new { @Value = incidentQualityNetwork.CreatedBy })
            @Html.HiddenFor(model => incidentQualityNetwork.CreatedDateTime, new { @Value = incidentQualityNetwork.CreatedDateTime == null ? "" : incidentQualityNetwork.CreatedDateTime.Value.ToString("yyyy-MM-dd tthh:mm:ss") })
            @Html.HiddenFor(model => incidentQualityNetwork.LastUpdatedBy, new { @Value = incidentQualityNetwork.LastUpdatedBy })
            @Html.HiddenFor(model => incidentQualityNetwork.LastUpdatedDateTime, new { @Value = incidentQualityNetwork.LastUpdatedDateTime == null ? "" : incidentQualityNetwork.LastUpdatedDateTime.Value.ToString("yyyy-MM-dd tthh:mm:ss") })
            @Html.HiddenFor(model => incidentQualityNetwork.History, new { @Value = incidentQualityNetwork.History })
            @Html.HiddenFor(model => incidentQualityNetwork.IncidentNo, new { @Value = incidentQualityNetwork.IncidentNo })
            @Html.HiddenFor(model => incidentQualityNetwork.IncidentStatus, new { @Value = incidentQualityNetwork.IncidentStatus })
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

                <div class="tab-pane fade" id="Checklists">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="col-lg-3">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Legend</legend>

                                    <div class="row">
                                        <div class="col-lg-2"><div class="bootstrap-checkbox"></div></div>
                                        <div class="col-lg-10">Pending</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"><div class="bootstrap-checkbox"><i class="fa fa-minus"></i></div></div>
                                        <div class="col-lg-10">In Progress</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-2"><div class="bootstrap-checkbox"><i class="fa fa-check"></i></div></div>
                                        <div class="col-lg-10">Completed</div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-lg-8">
                                <ul class="nav nav-pills">
                                    @{
                                        int countChecklist = 1;
                                        foreach (CCCP.Business.Model.ChecklistModel checklist in Model.Checklists)
                                        {
                                    <li @(countChecklist == 1 ? "class=active" : "")><a href="#list@(countChecklist)" data-toggle="tab">@(checklist.Entity.Department)</a></li>
                                            countChecklist++;
                                        }
                                    }
                                </ul>
                                <div id="TabList" class="tab-content">
                                    @{
                                        countChecklist = 1;
                                        foreach (CCCP.Business.Model.ChecklistModel checklist in Model.Checklists)
                                        {
                                            int countChecklistAction = 1;
                                    <div class="tab-pane fade @(countChecklist == 1 ? "active in" : "")" id="list@(countChecklist)">
                                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                            <th></th>
                                            <th>Action</th>
                                            <th>Last Updated By</th>
                                            <th>Last Updated Datetime</th>
                                            </thead>
                                            <tbody>
                                                @foreach (CCCP.Business.Model.ChecklistActionModel action in checklist.ChecklistActions)
                                                {
                                                    <tr>
                                                        <td><input type="checkbox" value="@Convert.ToInt32(action.ActionStatus)" data-checklist="@(countChecklist-1)" data-checklistaction="@(countChecklistAction-1)"></td>
                                                        <td><span @(@action.IsCompulsory ? "class=mandatory-field" : "")></span>@action.Entity.Action</td>
                                                        <td>@action.Entity.LastUpdatedBy</td>
                                                        <td>@(action.Entity.LastUpdatedDateTime == null ? "" : action.Entity.LastUpdatedDateTime.Value.ToString("yyyy-MM-dd tthh:mm:ss"))</td>
                                                    </tr>
                                                    countChecklistAction++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                                countChecklist++;
                                            }
                                        }
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="IncidentEnquiry">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                @Html.Partial("_ChatRoom", Model.Chatroom)
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="LinkedIncident">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <table id="LinkedIncidentTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.Entity.IncidentNo)</th>
                                            <th>Incident Type</th>
                                            <th>@Html.DisplayNameFor(model => model.Entity.LevelOfSeverity)</th>
                                            <th>@Html.DisplayNameFor(model => model.Entity.IncidentStatus)</th>
                                            <th>@Html.DisplayNameFor(model => model.Entity.IncidentBackground)</th>
                                            <th>@Html.DisplayNameFor(model => model.Entity.CreatedBy)</th>
                                            <th>@Html.DisplayNameFor(model => model.Entity.IssueDateTime)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.LinkedIncidentEntities)
                                        {
                                            string sLevelOfSeverity1 = "";
                                            if (item.LevelOfSeverity != null)
                                            {
                                                int level = Convert.ToInt32(item.LevelOfSeverity);
                                                IncidentLevel iLevel = (IncidentLevel)level;
                                                sLevelOfSeverity1 = iLevel.ToEnumString();
                                            }
                                            <tr>
                                                <td>@Html.DisplayFor(model => item.IncidentNo)</td>
                                                <td>@Html.DisplayFor(model => item.IncidentType)</td>
                                                <td>@Html.DisplayFor(model => sLevelOfSeverity1)</td>
                                                <td>@Html.DisplayFor(model => item.IncidentStatus)</td>
                                                <td>@Html.Raw(item.IncidentBackground != null ? item.IncidentBackground.Replace(System.Environment.NewLine, "<br/>") : "")</td>
                                                <td>@Html.DisplayFor(model => item.CreatedBy)</td>
                                                <td>@Html.DisplayFor(model => item.IssueDateTime)</td>
                                                <td>
                                                    <div class="tools">
                                                        <a href="@Url.Action("Details", item.Controller, new { id = item.IncidentId })" title="@Resources.global.Func_LinkIncident"><i class="fa fa-sliders"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="LinkedGeneralEnquiry">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <table id="LinkedGeneralEnquiryTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.LinkedGeneralEnquiryEntities.FirstOrDefault().GeneralEnquiryId)</th>
                                            <th>@Html.DisplayNameFor(model => model.LinkedGeneralEnquiryEntities.FirstOrDefault().GeneralEnquiryTypeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.LinkedGeneralEnquiryEntities.FirstOrDefault().Status)</th>
                                            <th>@Html.DisplayNameFor(model => model.LinkedGeneralEnquiryEntities.FirstOrDefault().Background)</th>
                                            <th>@Html.DisplayNameFor(model => model.LinkedGeneralEnquiryEntities.FirstOrDefault().CreatedBy)</th>
                                            <th>@Html.DisplayNameFor(model => model.LinkedGeneralEnquiryEntities.FirstOrDefault().IssueDateTime)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.LinkedGeneralEnquiryEntities)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(model => item.GeneralEnquiryId)</td>
                                                <td>@MasterTableService.GetIncidentTypeName(MasterTableService.GetIncidentTypeSubType(item.GeneralEnquiryTypeId.Value))</td>
                                                <td>@Html.DisplayFor(model => item.Status)</td>
                                                <td>@Html.Raw(item.Background != null ? item.Background.Replace(System.Environment.NewLine, "<br/>") : "")</td>
                                                <td>@Html.DisplayFor(model => item.CreatedBy)</td>
                                                <td>@Html.DisplayFor(model => item.IssueDateTime)</td>
                                                <td>
                                                    <div class="tools">
                                                        <a href="@Url.Action("Details", "GeneralEnquiry", new { id = item.GeneralEnquiryId })" title="@Resources.global.Func_LinkGeneralEnquiry"><i class="fa fa-sliders"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="Notification">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <table id="NotificationTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.NotificationEntities.FirstOrDefault().CreatedDateTime)</th>
                                            <th>@Html.DisplayNameFor(model => model.NotificationEntities.FirstOrDefault().Message)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.NotificationEntities)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(model => item.CreatedDateTime)</td>
                                                <td>@Html.DisplayFor(model => item.Message)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" id="btnUpdate">@Resources.global.Func_Update</button>
                    <button class="btn btn-primary" type="button" onclick="window.location = '@Url.Action("Details", "IncidentQualityNetwork", new { id = incidentQualityNetwork.IncidentQualityNetworkId })';">@Resources.global.Func_Cancel</button>
                </div>
            </div>
            <br />
}
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="#accordion" href="#History">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                @Resources.global.Label_History <i id="HistoryIcon" class="fa fa-angle-left"></i>
                            </h4>
                        </div>
                    </a>
                    <div id="History" class="panel-collapse collapse">
                        <div class="panel-body multiline">
                            @Html.Raw(incidentQualityNetwork.History)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- /.content -->