@model CCCP.Business.Model.GeneralEnquiryModel

@using CCCP.Common
@using CCCP.Business.Service
@using CCCP.Business.Model
@{
    ViewBag.Title = Resources.global.Menu_GeneralEnquiry;
    CCCP.ViewModel.GeneralEnquiry generalEnquiry = Model.Entity; // variable for binding

    CCCP.Helpers.SessionHelper sessionHelper = new CCCP.Helpers.SessionHelper();
    UserModel user = sessionHelper.CurrentUser;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <i class="fa fa-clipboard"></i> @Resources.global.Func_Create @Resources.global.Menu_GeneralEnquiry
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel panel-body">

                                <div class="row">
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-3 text-right"><label class="mandatory-field">Issue By</label></div>
                                    <div class="col-lg-6">
                                        @user.GetLastUpdatedBy()
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-3 text-right"><label class="mandatory-field">@Html.DisplayNameFor(model => generalEnquiry.IssueDateTime)</label></div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control" id="IssueDateTimeDate" data-inputmask="'alias': 'yyyy-mm-dd'" data-mask></input>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="input-group bootstrap-timepicker">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>
                                                    <input type="text" class="form-control timepicker" id="IssueDateTimeTime" data-inputmask="'alias': 'HH:mm'" data-mask></input>
                                                </div>
                                            </div>
                                            @Html.HiddenFor(model => generalEnquiry.IssueDateTime)
                                            @Html.ValidationMessageFor(model => generalEnquiry.IssueDateTime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-3 text-right"><label class="mandatory-field">Enquiry Type</label></div>
                                    <div class="col-lg-6">
                                        <select id="generalEnquiry_GeneralEnquiryTypeId" name="generalEnquiry.GeneralEnquiryTypeId" class="form-control thin-control">
                                            @{
                                                foreach (var type in MasterTableService.GetIncidentTypes())
                                                {
                                            <option value="@type.IncidentTypeId">@(type.Type + (type.SubType != null ? " - " + type.SubType : ""))</option>
                                                }
                                            }
                                        </select>

                                        @Html.ValidationMessageFor(model => generalEnquiry.GeneralEnquiryTypeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-3 text-right"><label class="mandatory-field">@Html.DisplayNameFor(model => generalEnquiry.Background)</label></div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => generalEnquiry.Background, new { htmlAttributes = new { @class = "form-control", @style = "height:150px" } })
                                        @Html.ValidationMessageFor(model => generalEnquiry.Background, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(model => generalEnquiry.ChatRoomId, new { @Value = 0 })
                    @Html.HiddenFor(model => generalEnquiry.GeneralEnquiryId, new { @Value = 0 })
                    @Html.HiddenFor(model => generalEnquiry.CloseById)
                    @Html.HiddenFor(model => generalEnquiry.CloseDateTime)
                    @Html.HiddenFor(model => generalEnquiry.Status)
                    @Html.HiddenFor(model => generalEnquiry.CreatedBy)
                    @Html.HiddenFor(model => generalEnquiry.CreatedDateTime)
                    @Html.HiddenFor(model => generalEnquiry.LastUpdatedBy)
                    @Html.HiddenFor(model => generalEnquiry.LastUpdatedDateTime)

                    <div class="box-footer">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" id="btnCreate">@Resources.global.Func_Save</button>
                            <button class="btn btn-primary" type="button" onclick="window.location = '@Url.Action("Index", "GeneralEnquiry")';">@Resources.global.Func_Cancel</button>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
 
        $("#IssueDateTimeDate").change(function () {
            $("#generalEnquiry_IssueDateTime").val($("#IssueDateTimeDate").val() + " " + $("#IssueDateTimeTime").val());
        });

        $("#IssueDateTimeTime").change(function () {
            $("#generalEnquiry_IssueDateTime").val($("#IssueDateTimeDate").val() + " " + $("#IssueDateTimeTime").val());
        });

        $(document).ready(function () {

            $('#IssueDateTimeDate').datepicker({ dateFormat: 'yy-mm-dd' });
            $('[data-mask]').inputmask();
            $('.timepicker').timepicker({
                showMeridian: false
            });
        });
               
        $('#btnCreate').on('click', function (event) {
            var inputValid = true;
            var errMsg = '';

            if ($('#generalEnquiry_Background').val() == '') {
                inputValid = false;
                errMsg = errMsg + 'Enquiry Background cannot be empty<br />';
            }

            if (inputValid == false) {
                $('#CCCPModal').find('.modal-body').html(errMsg);
                $('#CCCPModal').find('.modal-title').html('@Resources.global.Label_ValidationSummary');
                $('#CCCPModal').modal('toggle');

                event.preventDefault();
            }

            return inputValid;
        });
</script>
}
